<div class="container" >
<h1>Payment Form</h1>

<div fxLayout="row" fxLayoutAlign="space-between">
  <div fxLayout="column">
    <label for="receiver">Receiver Name</label>
    <input type="text" (input)="onChangeReceiver($event.target.value)" />
  </div>
  <div fxLayout="column">
    <span>Receiver Name</span>
    <span>{{ receiverName | titlecase }}</span>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between">
  <div fxLayout="column">
    <label >Payment Date</label>
    <input type="text" (input)="onChangePayment($event.target.value)" />
  </div>
  <div fxLayout="column">
    <span>Payment date</span>
    <span>{{ paymentDate | date:'MMM dd, yyyy' }}</span>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between">
  <div fxLayout="column">
    <label >Amount</label>
    <input type="text" (input)="onChangeAmount($event.target.value)" />
  </div>
  <div fxLayout="column">
    <span>Amount</span>
    <span>{{ amount | currency:'THB ' }}</span>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between" >
  <div fxLayout="column">
    <label >Miles</label>
    <input type="text" (input)="onChangeMiles($event.target.value)" />
  </div>
  <div fxLayout="column">
    <span>Kilometers</span>
    <span>{{ miles | convert |number : '1.1-2'}}</span>
  </div>
</div>
</div>

